<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="styles.css">
    <title>Problem gelöst</title>
</head>
<body>
    <h1>{{name}}</h1>
    <h3><b>Das Ergebnis ist: {{result}}</b></h3>
    {{#each info}}
        <p>{{this.label}}: {{this.value}}</p>
    {{/each}}
    <p><a href="/">Zurück</a></p>
</body>
</html>